@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #020617;
    color: #f8fafc;
  }

  /* Custom enterprise dark scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #090d16;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}

